name: Build & Publish Northstar Platform

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read
  packages: write   # REQUIRED to publish packages

jobs:
  build-and-publish:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build & Deploy to GitHub Packages
        run: mvn -B clean deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}